*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    text-align: center;
    height: 90vh;
    align-content: center;
}

/* Menu da pagina */
.menu{
    display: flex;
    align-items: center;
    background-color: rgb(201, 35, 35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu_a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.logo__cinetime{
    color: white;
    font-size: 3em;
    margin: 0em 0.5em;
}
.campo__busca{
    height: 3em;
    width: 23em;
    margin-right: 6em;
    padding-left: 1em;
    border-radius: 1.5em;
    background-color: rgb(59, 59, 59);
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    position: fixed;
    right: 0;
}
.perfil_link{
    background-color: green;
    /* height: 3em; */
    width: 3em;
    margin-left: 1em;
    margin-top: -3em;
}
.perfil{
    background-color: aqua;
    border-radius: 2em;
    position: fixed;
    height: 3em;
    width: 3em;
    right: 0;
    margin-right: 20px;
}

/* Corpo da pagína index.html */
.lancamento{
    margin-top: 4em;
}
.secoes{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* filmes em lançamentos */
.filmes{
    width: 24vw;
    text-align: left;
}
.posters{
    border: 2px solid;
    height: 350px;
    width: 250px;
    margin-left: 14.5%;
}
.nome__filme1{
    color: blue;
    text-align: center;
}

.estrela{
    height: 35px;
    width: 35px;
    /* margin-top: 90vh; */
    margin-left: 7vw;
}
.avaliacao{
    display: inline-block;
    position: relative;
    top: -0.5em;
    color: white;
}
.titulo1{
    color: red;
}
.titulo2{
    color: yellow;
}
.titulo3{
    color: rgb(1, 214, 1);
}
.calendario{
    margin-top: 10vh;
    text-align: center;
    height: 60.5em;
    width: 64vw;
}
a{
    color: black;
}