*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    align-content: center;
}
.formulario{
    height: 80%;
    width: 40%;
    border: 2px solid;
    margin: 0 auto;
}
.textos{
    font-size: 120%;
    margin-top: 2%;
    margin-left: 4%;
    font-weight: bolder;
}
.input_form{
    height: 7vh;
    width: 94%;
    padding-left: 1%;
    font-size: 120%;
    margin-left: 3%;
}
textarea{
    padding-top: 2.5%;
    font-size: 180%;
}
.enviar{
    margin-top: 2%;
    background-color: rgb(148, 243, 148);
    border: 0px solid;
    height: 10%;
    width: 20%;
    margin-left: 77%;
}
.enviar:hover{
    background-color: rgb(110, 238, 110);
}