.corpo{
    height: 100vh;
    background-color: black;
    align-content: center;
}
.container_formulario{
    margin: 0 auto;
    width: 50vw;
}
.container_formulario1{
    height: 70vh;
    width: 50vw;
}
.formulario{
    width: 40vw;
}
.cor_texto{
    color: white;
}
@media only screen and (max-width: 800px) {
    .container_formulario{
        width: 100vw;
    }
    .container_formulario1{
        width: 100%;
        display: block;
    }
    .formulario{
        width: 80vw;
    }
}